body {
  margin: 0%;
  min-height: 100%;
  background-color: #fff;
  font-family: Arial, sans-serif;
  line-height: 20px;
  color: #333;
}
#navbar {
  display: flex;
  justify-content: space-around;
}
#navbar p{
  display: inline;
  cursor: pointer;
}
#navbar div img,
footer img {
  width: 138px;
  padding-top: 10px;
}
#nav {
  margin-top: 20px;
}
#nav a {
  text-decoration: none;
  color: #222222;
  font-family: sans-serif;
  padding: 20px;
}
#parking_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}
#parking_logo p {
  width: 70%;
  font-family: "Louis george cafe", sans-serif;
  font-size: 20px;
  line-height: 25px;
  text-align: center;
  text-decoration: none;
}

#parking_logo h1 {
  line-height: 44px;
  margin-top: 20px;
  font-size: 40px;
}
#parking_logo a {
  text-decoration: none;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 20px 30px;
  border-radius: 5px;
  background-color: #fec;
  transition: opacity 225ms ease;
  font-family: "Louis george cafe", sans-serif;
  color: #fa824c;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#partner {
  width: 70%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-around;
  gap: 50px;
  margin-top: 100px;
}

#icon {
  display: flex;
  gap: 40px;
}
#icon img {
  width: 80px;
}
#revenue,
#proposition,
#investor,
#partner_spotlight {
  width: 70%;
  margin: auto;
  margin-top: 100px;
}
.value {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.value img {
  transform: scale(1);
  transition-property: transform;
  transition-duration: 200ms;
}
.value img:hover {
  transform: scale(1.2);
}
.value div {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
  border-radius: 5px;
}
.value img {
  width: 50px;
}
.deal {
  width: 70%;
  margin: auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  border-radius: 7px;
  background-color: #f7f7f7;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  padding: 20px 40px 40px;
  line-height: 20px;
  transform: scale(1);
  transition-property: transform;
  transition-duration: 400ms;
}
.deal:hover {
  transform: scale(1.15);
}
.deal h1 {
  color: black;
}
.deal a {
  text-decoration: none;
}
#publicParking {
  width: 70%;
  margin: auto;
  margin-top: 100px;
  display: flex;
  gap: 20px;
}

.investor_name {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 9px;
  justify-items: center;
  margin-top: 50px;
}
.investor_name img {
  width: 150px;
}
#partner_spotlight div:nth-child(2) {
  display: flex;
  gap: 20px;
}
#partner_spotlight h3 {
  font-weight: 500;
}
#partner_spotlight a {
  text-decoration: none;
  padding-top: 0px;
  font-family: "Louis george cafe", sans-serif;
  color: #dd703f;
  font-size: 13px;
}

.ag-footer-link {
  display: block;
  padding-top: 0px;
  font-family: "Louis george cafe", sans-serif;
  color: #dd703f;
  font-size: 13px;
  text-decoration: none;
}
footer {
  background-color: #fec;
  margin-top: 100px;
}
.footer_page {
  padding-top: 30px;
  width: 70%;
  margin: auto;

  display: flex;
  justify-content: space-between;
}
#footer_bottom {
  width: 70%;
  margin: auto;
  padding-bottom: 10px;
}

#dashboard {
  width: 70%;
  margin: auto;
  margin-top: 100px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
}
#dashboard div:nth-child(1) {
  display: flex;
  gap: 20px;
  font-size: 20px;
  font-weight: 200;
}
#dashboard p:hover {
  cursor: pointer;
  background-color: #ddd;
  padding: 10px;
}
#dashboard img {
  width: 80%;
}
.menu_button {
  display: none;
}
#click {
  display: none;
}

@media all and (min-width: 320px) and (max-width: 767px) {
  #partner {
    grid-template-columns: repeat(1, 1fr);
  }
  .value {
    grid-template-columns: repeat(1, 1fr);
  }
  .investor_name {
    grid-template-columns: repeat(2, 1fr);
  }
  #dashboard div:nth-child(1) {
    flex-direction: column;
  }
  #publicParking {
    flex-direction: column;
  }
  #partner_spotlight div:nth-child(2) {
    flex-direction: column;
  }
  #parking_logo {
    text-align: center;
  }
}

@media all and (max-width: 550px) {
  .footer_page {
    flex-direction: column;
  }
  footer {
    text-align: center;
  }
  #nav {
    display: flex;
    flex-direction: column;
    left: 0;
    position: relative;
    top: 50px;
    border: 2px solid lightblue;
    height: 200px;
    width: 150%;
    border-radius: 10px;
    display: none;
    transition: all 0.3s ease;
  }
  #click:checked ~ #nav {
    display: flex;
    flex-direction: column;
    left: -100%;
  }

  .menu_button {
    font-size: 20px;
    display: block;
    margin: 20px 40px;

    color: #dd703f;
    padding: 3px;
  }
  #navbar p{
  padding: 20px;

  }
}
